<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- to make responsive --> 

		<title>Upload</title>
	</head>

	<body>

		<h1>Which files would you like to view?</h1>

		<form method="POST" >
		    {{ form.csrf_token }}
		    {{ form.sem }}
		    {{ form.course }}
		    <!--input type=file name=files id=files -->
		    
		    <input type="submit" value="Browse" >
		</form>

		<div>
			{% for files in filelist %}
			<a href= " {{ files[0] }} "> {{ files[1] }} </a>
			
			{% endfor %}
		</div>

		<div>
		{{ div }}
		</div>

	</body>
</html>