{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
	Browse
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/browse-dropdown.css') }}">
{% endblock %}

{% block content %}
<div class="container">
	<br><br>

	<!-- Search form -->
	<div class="dropdown">
		<div class="title pointerCursor"><b style="font-family: 'Times New Roman', Times, serif; font-size: large;">Filter</b><i class="fa fa-angle-right"></i></div>
		<div class="menu pointerCursor hide">
			<div><form class="form" role="form" method="POST" enctype=multipart/form-data >	
			{{ search_form.csrf_token }}
			{{ wtf.form_field(search_form.sem, onclick="load_courses()") }}
			{{ wtf.form_field(search_form.course) }}
			{{ wtf.form_field(search_form.search_query, placeholder="Search by file name") }}
			{{ wtf.form_field(search_form.submit_query) }}
			<a href="{{ url_for('browse') }}"><button type="button" class="btn btn-light" >Clear</button></a>
			</form></div>
		</div>
	</div>

	<br><hr><br>

	<!-- Show criteria of filters if applied -->
	{% if selections[0] != 'Any' or selections[1] != 'Any' or  selections[2] != '' %}
	<p>Showing results for 
		<ul>
		<li> Semester: {{ selections[0] }} </li>  
		<li> Course: {{ selections[1] }} </li>
		<li> File: "{{ selections[2] }}" </li>
		</ul>
	</p>
	{% endif %}

	<!-- Display appropriate files -->
	<table id="display-files" class="table table-responsive-sm table-striped table-bordered table-hover" cellspacing="0" width="100%">
		<thead class="thead-dark ">
			<th class="th-sm">Year</th>
			<th class="th-sm">Course</th>
			<th class="th-sm">File</th>		
		</thead>
		
		<tbody>
		{% for files in filelist %}
		<tr id="{{ files[4] }}">
			<td>{{ files[0] }}</td>
			<td>{{ files[1] }}</td>
			<td> <a href= " {{ files[2] }} "> {{ files[3] }} </a> </td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<!-- Pagination -->
	<button id="prev_button" type="button" class="btn btn-primary">prev</button>
	<button id="next_button" type="button" class="btn btn-primary">next</button>  
	<br><br>
	
	<h3>Number of entries per page</h3>
	<button type="button" class="btn btn-primary" onclick="re_tabulate(5)">5</button>
	<button type="button" class="btn btn-primary" onclick="re_tabulate(10)">10</button>
	<button type="button" class="btn btn-primary" onclick="re_tabulate(15)">15</button>

	<br><br>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pages.js') }}" type = "text/javascript"></script>
<script src="{{ url_for('static', filename='js/dropdown_menu.js') }}" type = "text/javascript"></script>
<script src="{{ url_for('static', filename='js/dynamic_form.js') }}" type = "text/javascript"></script>
<script type = "text/javascript">window.onload=function() {load_courses(); initialise_storage(); tabulate();};</script>

{{ super() }}

{% endblock %}
