{% extends 'base.html' %}

{% block title %}
	Browse
{% endblock %}

{% block content %}
<div class="container">
	<br><br>
	<h1 style="text-align:center">Welcome to NoteShare!</h1>
	<br><br>

	<!-- Dropdown button -->

	<!-- Search form -->
	<h2>Filter</h2>	
	<form class="form" role="form" method="POST" enctype=multipart/form-data >	
		{{ search_form.csrf_token }}
		{{ wtf.form_field(search_form.sem) }}
		{{ wtf.form_field(search_form.course) }}
		{{ wtf.form_field(search_form.search_query, placeholder="Search by file name") }}
		{{ wtf.form_field(search_form.submit_query) }}
	</form>	
	<br><hr><br>

	<!--	{% if selections[0] != 'Any' or selections[1] != 'Any' or  selections[2] != ''%}
	<p>Showing results for 
		{% if selections[0] != 'Any' %}Semester {{ selections[0] }}{% endif %} 
		{% if selections[1] != 'Any' %}Course {{ selections[1] }}{% endif %} 
		{% if selections[2] != '' %}File "{{ selections[2] }}"{% endif %} 
	</p>
	{% endif %} -->

	<table id="dtBasicExample" class="table table-responsive-sm table-striped table-bordered" cellspacing="0" width="100%">
		<thead>
			<th class="th-sm">Year</th>
			<th class="th-sm">Course</th>
			<th class="th-sm">File</th>		
		</thead>
		
		<tbody>
		{% for files in filelist %}
		<tr id="{{ files[4] }}">
			<td>{{ files[0] }}</td>
			<td>{{ files[1] }}</td>
			<td> <a href= " {{ files[2] }} "> {{ files[3] }} </a> </td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

	<button id="prev_button" type="button" class="btn btn-primary">prev</button>
	<button id="next_button" type="button" class="btn btn-primary">next</button>  
	
	<br><br>
</div>
{% endblock %}

<script src="../static/pages.js" type = "text/javascript"></script>
{{ super() }}
