{% extends "base.html" %}

{% block title %}
	Upload
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function load_courses() {
	let sem_choice = document.getElementById('sem');
	let	course_choice = document.getElementById('course');

	sem = sem_choice.value;

	fetch('/course/' + sem).then(function(response) {
		response.json().then(function(data) {
			let optionHTML = '';
			for(let course of data.courses) {
				optionHTML += '<option value="' + course.name + '">' + course.name + '</option>';
			}
			course_choice.innerHTML = optionHTML;
		})
	})
}
</script>

{{ super() }}

{% endblock %}

{% block content %}
<div class="container">
	<br><br>

	<form class="form form-horizontal" role="form" method="POST" enctype=multipart/form-data >	
		{{ form.csrf_token }}
		{{ wtf.form_field(form.sem, onclick="load_courses()") }}
		{{ wtf.form_field(form.course) }}
		{{ wtf.form_field(form.upload_file) }}
		<input type="submit" value="Submit" >
	</form>	

	{% for message in get_flashed_messages() %}
	<ul class="flashes">
		<li>{{ message }}</li>
	</ul>		
	{% endfor %}

</div>
{% endblock %}
